@font-face {
    font-family: 'roboto';
    src: url('/fonts/Roboto-VariableFont_wdth\,wght.ttf');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/static/Roboto-Regular.ttf');
}
